body{
    margin: 0;
    background-color:black;
    color: whitesmoke;
}
#heading-div{

     padding: 1px;
     width: 100vw;
}
#heading{
    text-align: center;
    color: #ff0089de;
}
#sub-heading{
    color: #00ffef5c;
    text-align: center;
}
#contant-list{
    margin-left: 10px;
    color: gray;
}
#contant-list li{
    padding: 2px;
}
.operations-list{
    text-align: center;
}
h6{
    color: #ffff00c9;
}
.links{
    color: #00b9ffe6;
}